body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form,
select {
  margin: 0;
  font-family: "宋体";
}
ul,
ol,
input,
textarea {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
textarea {
  resize: none;
  overflow: auto;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
@font-face {
  font-family: ebrimabd;
  src: url(../font/ebrimabd.ttf);
}
@keyframes allowMove {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 30px;
  }
}
@-webkit-keyframes allowMove {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 30px;
  }
}
@-moz-keyframes allowMove {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 30px;
  }
}
@-o-keyframes allowMove {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 30px;
  }
}
@-o-keyframes allowMove {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 30px;
  }
}
@keyframes videoFontMove {
  from {
    transform: scale(5);
    -webkit-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    -moz-transform: scale(5);
  }
  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
  }
}
@-webkit-keyframes videoFontMove {
  from {
    transform: scale(5);
    -webkit-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    -moz-transform: scale(5);
  }
  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
  }
}
@-o-keyframes videoFontMove {
  from {
    transform: scale(5);
    -webkit-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    -moz-transform: scale(5);
  }
  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
  }
}
@-ms-keyframes videoFontMove {
  from {
    transform: scale(5);
    -webkit-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    -moz-transform: scale(5);
  }
  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
  }
}
@-moz-keyframes videoFontMove {
  from {
    transform: scale(5);
    -webkit-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    -moz-transform: scale(5);
  }
  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
  }
}
